<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>

<body>
<form action="./register" method="post">
    <input name="id" type="text" class="col-md-1 form-control input-sm" required="required" />
    <input name="nickname" type="text" class="col-md-1 form-control input-sm" required="required"/>
    <input name="email" type="text" class="col-md-1 form-control input-sm" required="required"/>
    <input type="submit" value="회원가입"/>
</form>
<!--
<form action="./register" method="post">
    <input type="text" name="id" placeholder="계정" required="required"/>
    <input type="password" name="pw" placeholder="암호" required="required"/>
    <input type="submit" value="회원가입"/>
</form>
-->
</div>
<br><br>

</body>
</html>