<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TwoPark - Register</title>
        <link rel="stylesheet" th:href="@{/css/base.css}" />
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!--        <link rel="stylesheet" th:href="@{/css/changeinfo.css}" />-->
<!--        <style>-->
<!--            .container{-->
<!--                text-align: center;-->
<!--            }-->
<!--            #id{-->
<!--                text-align: left;-->
<!--            }-->
<!--        </style>-->
        <script>
            function hello() {
                if(!(document.getElementById("id").value)){
                    alert("Input your ID");
                }
                else if(!(document.getElementById("nickname").value)){
                    alert("Input your Nickname");
                }
                else if(!(document.getElementById("email").value)){
                    alert("Input your Email");
                }
                else if(!(document.getElementById("pw").value)){
                    alert("Input your Password");
                }
                else if(!(document.getElementById("pwre").value)){
                    alert("Repeat your Password");
                }
                else if(!(document.getElementById("email_auth").value)){
                    alert("Check your Email-Auth-Code");
                    var auth = document.getElementById("auth");
                    auth.style.display = "block";
                }
            }
        </script>
    </head>

    <body>
        <div th:include="layout/header::header"></div>
        <div class="container">
            <div class="page-header">
                <h1>Register</h1>
            </div>
            <table class="table">
                <tr>
                    <th style="padding:13px 0 0 15px;">ID</th>
                    <td><input id="user_id" type="text" class="col-md-1 form-control input-sm" /></td>
                </tr>
                <tr>
                    <th style="padding:13px 0 0 15px;">NickName</th>
                    <td><input id="user_nickname" type="text" class="col-md-1 form-control input-sm" /></td>
                </tr>
                <tr>
                    <th style="padding:13px 0 0 15px;">Email</th>
                    <td><input id="user_email" type="text" class="col-md-1 form-control input-sm" /></td>
                </tr>
                <tr>
                    <th style="padding:13px 0 0 15px;">Password</th>
                    <td><input id="user_password" type="password" class="col-md-1 form-control input-sm" /></td>
                </tr>
                <tr>
                    <th style="padding:13px 0 0 15px;">Password Check</th>
                    <td><input id="user_password_check" type="password" class="col-md-1 form-control input-sm" /></td>
                </tr>
                <tr>
                    <th style="padding:13px 0 0 15px;">Auth Code</th>
                    <td><input id="user_auth_code" type="text" class="col-md-1 form-control input-sm" /></td>

                </tr>
            </table>
            <div class="pull-right">
                <a class="btn btn-primary" id="register">Register</a>
            </div>
        </div>
        <br><br>
        <div th:include="layout/footer::footer"></div>
    </body>
</html>