<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>Whoops!</h1>
    </div>
    <div id="mainHide">
        <p>
            Something Went Wrong! ;)
        </p>
        <div class="pull-left">
            <a href="/index" class="btn btn-primary btn-block"> Back to Main </a>
        </div>
    </div>
</div>
<div th:replace="layout/footer::footer"></div>
</body>
</html>