<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type"  content="text/html; charset=UTF-8" />
    <title>TwoPark</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

<div th:replace="layout/header::header"></div>
<div class="container">
    <div class="page-header">
        <h1>Login</h1>
    </div>
    <table class="table">
        <tr>
            <th style="padding:13px 0 0 15px;">ID</th>
            <td><input id="id" type="text" class="col-md-1 form-control input-sm" /></td>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">Password</th>
            <td><input id="pw" type="password" class="col-md-1 form-control input-sm" /></td>
        </tr>
    </table>
    <div class="pull-right">
        <a class="btn btn-primary" id="login">login</a>
    </div>

    <br><br><br><br>

</div>

<div th:replace="layout/footer::footer"></div>
<script th:src="@{/js/jquery.min.js}"></script>
<script>
    $('#login').click(function() {
        var jsonData = JSON.stringify({
            id: $('#id').val(),
            pw: $('#pw').val()
        });
        $.ajax({
            url: "http://localhost:8081/api/boards",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function() {
                alert('Login Success!');
                location.href = '/board/list';
            },
            error: function() {
                alert('Login Failed');
            }
        });
    });
</script>

</body>
</html>